<!DOCTYPE html>
<html lang="en" ng-app="FlameSlackApp" ng-tab-active>
<head>
  <meta charset="UTF-8">
  <title ng-bind="title || 'Flame Slack'">Flame Slack</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

  <script src="js/app.min.js"></script>
</head>
<body ng-controller="MainCtrl">
  <div ng-view></div>

  <div id="lightbox" ng-if="lightboxSrc">
    <div id="lightbox-wrap" ng-click="lightbox(null)">
      <img ng-src="{{lightboxSrc}}" alt="">
    </div>
  </div>
</body>
</html>