* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav, .pagination, .carousel, .panel-title a, a { 
  cursor: pointer; 
}

/*Global*/

body {
  font: 15px/1.3 sans-serif; 
}

.row {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
}

.form-control.ng-invalid, 
.form-control.ng-invalid:focus {
  border-color: red;
}

/*Sidebar*/

.sidebar {
  background-color: #4D394B;
  height: 100%;
  padding: 0;
}
  .sidebar, .sidebar a {
    color: #ab9ba9;
  }
  .sidebar .active {
    color: white;
    font-weight: bold;
  }
  .sidebar form {
    width: 100%;
  }
  .sidebar .form-group {
    width: calc(100% - 30px);
    margin: 0 1em;
  }
  .sidebar .form-control {
    width: 100%;
  }

i.circle.online {
  display: inline-block;
  height: 0.7em;
  width:  0.7em;
  border: 2px solid #ab9ba9;
  border-radius: 50%;
  background-color: #ab9ba9;
}
i.circle.offline {
  display: inline-block;
  height: 0.7em;
  width:  0.7em;
  border: 2px solid #ab9ba9;
  border-radius: 50%;
}

.form-group {
  position: relative;
}
.input-error {
  display: none;
  top: 34px;
} 
.form-control.ng-invalid + .input-error{
  display: block;
}

ul {
  margin-top: 20px;
  list-style: none;
}
li a {
  display: block;
  padding: 2px 15px;
  font-size: 1em;
  border-radius: 0;
}
li a:hover, li a:focus {
  background-color: #3e313c;
  text-decoration: none;
}
li a.current {
  background-color: #4C9689;
  color: white;
}

/*Chat*/

.chat {
  height: calc(100% - 50px);
  max-height: 100%;
  overflow-y: scroll;
}

.message {
  margin-top: 10px;
}
.message h5 {
  font-weight: bold;
}
.message img {
  height: 36px;
  width: 36px;
}
.message .media-left a {
  display: block;
  width: 36px;
}
.time {
  font-weight: normal;
}
.message-text:hover .glyphicon-remove {
  display: inline-block;
}
.glyphicon-remove {
  display: none;
  float: right;
  color: #ddd;
}
.glyphicon-remove:hover {
  color: #333;
  cursor: pointer;
}

#msg {
  position: fixed;
  width: inherit;
  bottom: 0;
  padding-right: 30px;
}
  #msg textarea {
    height: 34px;
    resize: none;
  }
.mention {
  background-color: yellow;
}