<div class="row">
  <div class="col-md-2 col-xs-4 sidebar">
    <ul>
      <li>
        <span uib-dropdown>
          <a href uib-dropdown-toggle>
            <i class="circle" ng-class="user ? 'online' : 'offline'"></i>
            {{user.username}} 
            <span class="caret"></span></i>
          </a>
          <ul class="uib-dropdown-menu">
            <li>
              <a href ng-click="logout()">log out</a>
            </li>
          </ul>
        </span>
      </li>
    </ul>
    <ul>
      <li>
        <p>CHANNELS</p>
      </li>
      <li ng-repeat="ch in channels">
        <a href="#/channels/{{ch.$value}}" ng-class="{
          'current': ch.$value == channel, 
          'active': messages[ch.$value].length && messages[ch.$value][messages[ch.$value].length-1].$id != user.lastReaded[ch.$value]
        }">
          #{{ch.$value}}
        </a>
      </li>
      <li ng-show="user.isAdmin && isNewChannelFormHidden">
        <a href ng-click="isNewChannelFormHidden = !isNewChannelFormHidden">
          +add channel
        </a>
      </li>
      <li ng-show="user.isAdmin && !isNewChannelFormHidden">
        <form name="newChannelForm" ng-submit="createChannel()" class="form-inline" novalidate>
          <div class="form-group">
            <input type="text" 
                   ng-model="newChannelName" ]
                   ng-keydown="isNewChannelFormHidden = $event.keyCode == 27"
                   class="form-control"
                   pattern="^\w{3,10}$"
                   required>
            <div class="input-error popover bottom">
              <div class="arrow"></div>
              <div class="popover-inner">
                <div class="popover-content">
                  Use letters and numbers, more then 2 and less then 10
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="hidden">Submit</button>
        </form>
      </li>
    </ul>

    <ul>
      <li>
        <p>USERS</p>
      </li>
      <li ng-repeat="user in users">
        <a href class="user">
          <i class="circle" ng-class="user.online ? 'online' : 'offline'"></i>
          {{user.username}}    
        </a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar -->
  <div class="col-md-10 col-xs-8 chat" ng-autoscroll>
    <div class="messages">
      <div class="media message" ng-repeat="message in messages[channel]">
        <div class="media-left">
          <a href>
            <img ng-src="{{message.author.avatar}}&s=36" alt="avatar" class="madia-object" ng-hide="message.author.id == messages[channel][$index-1].author.id">
          </a>
        </div>
        <div class="media-body">
          <h5 class="media-heading" ng-hide="message.author.id == messages[channel][$index-1].author.id">
            {{message.author.username}}
            <span class="time text-muted">{{message.timestamp | date: 'HH:mm'}}</span>
          </h5>
          <div class="message-text">
            <span ng-bind-html="message.text | link | trustAsHtml"></span>
            <i class="glyphicon glyphicon-remove" ng-if="user.isAdmin || user.$id === message.author.id" ng-click="remove(message)"></i>
          </div>
        </div>
        <hr ng-if="message.$id == divider" divider>        
      </div>
    </div>
    <!-- /.messages -->
    <form name="msgForm" id="msg" ng-submit="addMessage()">
      <div class="form-group">
        <input  name="msg" 
                ng-model="msg.text" 
                ng-focus
                class="form-control"></input>
      </div>
      <button type="submit" class="hidden">submit</button>
    </form>
  </div>
</div>