<div class="full-screen">
  <div class="sidebar">
    <div class="logged-user">
      <a href>
        <i class="circle" ng-class="user.online ? 'online' : 'offline'"></i>
        {{user.username}} 
      </a>
      <a href ng-click="logout()" class="pull-right">log out</a>
    </div>
    <ul>
      <li>
        <p>CHANNELS</p>
      </li>
      <li ng-repeat="(ch, _val) in channels">
        <a href="#/messages/{{ch}}" ng-class="{
          'current': ch == channel, 
          'active': messages[ch].length && messages[ch][messages[ch].length-1].$id != user.lastReaded[ch]
        }">
          #{{ch}}
        </a>
      </li>
      <li ng-show="isAdmin.$value && !isNewChannelFormShowed">
        <a href ng-click="isNewChannelFormShowed = !isNewChannelFormShowed">
          +add channel
        </a>
      </li>
      <li ng-show="isAdmin.$value && isNewChannelFormShowed">
        <form name="newChannelForm" ng-submit="createChannel()" class="form-inline" novalidate>
          <div class="form-group">
            <input type="text" 
                   ng-model="newChannelName"
                   ng-show="isAdmin.$value && isNewChannelFormShowed"
                   ng-keydown="isNewChannelFormShowed = $event.keyCode != 27"
                   class="form-control"
                   pattern="^\w{3,15}$"
                   required>
            <div class="input-error popover bottom">
              <div class="arrow"></div>
              <div class="popover-inner">
                <div class="popover-content">
                  Use letters and numbers, more then 2 and less then 10
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="hidden">Submit</button>
        </form>
      </li>
    </ul>

    <ul>
      <li>
        <p>USERS</p>
      </li>
      <li ng-repeat="u in users">
        <a href="#/messages/@{{u.username}}" 
           class="user" 
           ng-if="u.$id != user.$id" 
           ng-class="{
            'current': u.username == directWith.username
        }">
          <i class="circle" ng-class="u.online ? 'online' : 'offline'"></i>
          {{u.username}}    
          <span ng-if="directNotify[u.$id]" class="badge pull-right">
            {{directNotify[u.$id]}}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar -->
  
  <div class="chat" id="chat" ng-autoscroll>
    <div ui-view></div>
  </div>
</div>